html {
  background-color: #1d1d20;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 9999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
}

#navbar ul {
  background-color: #1d1d20;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4rem;
}

p.footer {
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

div.titre,
div.about {
  align-items: center;
  display: flex;
  min-height: 90vh;
}

.div_title{
  text-align: center;
  text-transform: uppercase;
  font-weight: initial;
}

.titre {
  margin-left: 10rem;
  margin-bottom: 10rem;
}

.about {
  background-color: rgb(247, 228, 85);
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin: 0 10rem 0 10rem;
}

h1.title {
  text-align: justify;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

h1.title span {
  display: block;
  margin-top: 1.1rem;
}

ul li a:hover {
  border-bottom: 2px solid white;
}

/*= Skills */

.skillbar-wrapper {
  margin: 1.5em auto;
  max-width: 960px;
}

.skillbar {
  position:relative;
  margin-bottom: 20px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 10px; 
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height:35px;
  line-height: 35px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 2px #141414, 1px 1px 3px #141414, 1px 1px 5px #141414, 1px 1px 7px #141414, 1px 1px 10px #141414, 1px 1px 12px #141414, 1px 1px 18px #141414;
}

.skillbar-bar {
  height: 35px;
  width: 0%;
  border-radius: 10px;
  transition: 1500ms linear;
  transition-property: width, background-color;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: rgba( 0, 0, 0, 0.4 );
  transition: color 1500ms ease-out;
}

.complete .skill-bar-percent {
  font-weight: 700;
}

.html5 .skillbar-title {
  background: #d35400;  
}

.html5 .skillbar-bar {
  background: #e67e22;  
}

.html5 .skill-bar-percent {
  color: white;
}

.css .skillbar-title {
  background: #2980b9;  
}

.css .skillbar-bar {
  background: #3498db;  
}

.javascript .skillbar-title {
  background: #f1ac18;
}
.javascript .skillbar-bar {
  background: #fac552;
}

.csharp .skillbar-title {
  background: rgb(128, 0, 128);  
}

.csharp .skillbar-bar {
  background: rgb(164, 0, 164);  
}

.php .skillbar-title {
  background: #777BB3;  
}

.php .skillbar-bar {
  background: #AEB2D5;  
}

.wordpress .skillbar-title {
  background: #333333;  
}

.wordpress .skillbar-bar {
  background: #525252;  
}

.python .skillbar-title {
  background: #306998;  
}

.python .skillbar-bar {
  background: #3d729d;  
}

.sql .skillbar-title {
  background: #ff00fb;  
}

.sql .skillbar-bar {
  background: #ff51fc;  
}

.react .skillbar-title {
  background: #61DBFB;  
}

.react .skillbar-bar {
  background: #6ddefa;  
}

.symfony .skillbar-title {
  background: #000000;  
}

.symfony .skillbar-bar {
  background: #222222;  
}

.three-point-1 {
  animation-delay: 0.2s;
  animation-duration: 1.5s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

.three-point-2 {
  animation-delay: 0.4s;
  animation-duration: 1.5s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

.three-point-3 {
  animation-delay: 0.6s;
  animation-duration: 1.5s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

.inlinePoint{
  display: initial !important;
}

@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
}

footer div.row{
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

footer div.row div.col-reseaux a{
  text-decoration: none;
}

footer div.row div.col-reseaux a img{
  fill: white;
}